section.section.home-benefit
	.container
		.section-title.text-center Lợi ích của bạn
		.wrapper-benefit-list.d-flex.align-center
			-for(i=1; i<5; i++)
				.col-item
					.img 
						a(href="") 
							img.lazyload(data-src="./img/home/h-1."+i+".png", alt="")
					.content 
						.title.f-30.color-white 
							a(href="") Xây dựng kế hoạch cuộc sống
						.desc.f-14.color-white 
							p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo.
						a.btn.btn-view-more(href="") Xem thêm
