section#about-1.section.about
	#tool-item
	.catelogry#catelogry
		.container
			ul
				li
					a(href="#about-1") Về Tân Mai
				li
					a(href="#about-2") Lịch sử
				li
					a(href="#about-3") Tầm nhìn - Sứ mệnh
				li
					a(href="#about-4") Giá trị cốt lõi
				li
					a(href="#about-5") Sơ đồ tổ chức
				li
					a(href="#about-6") Năng lực sản xuất
				li
					a(href="#about-7") Đơn vị thành viên
				li
					a(href="#about-8") Các giải thưởng và thành tích
	.container
		.section-title.color-main giới thiệu tập đoàn tân mai
		.wrapper-list.d-flex.align-center
			.item.d-flex.align-center
				.img
					img(src="./img/icon/62nam.png" alt="")
				.content
					.title.f-24.fw-700 62 
						span.f-16 năm
					.desc Xây dựng tập đoàn
			.item.d-flex.align-center
				.img
					img(src="./img/icon/30000ha.png" alt="")
				.content
					.title.f-24.fw-700 30.000 
						span.f-16 ha
					.desc Rừng
			.item.d-flex.align-center
				.img
					img(src="./img/icon/4mangkd.png" alt="")
				.content
					.title.f-24.fw-700 04
					.desc Mảng kinh doanh
		.wrapper-content
			.row
				.col-lg-5.col-md-6
					.content
						.desc
							span Công ty CP Tập đoàn Tân Mai (tiền thân là Công ty Kỹ nghệ Giấy Việt Nam - COGIVINA) từng là doanh nghiệp hàng đầu trong ngành sản xuất giấy Việt Nam về cả doanh thu lẫn chất lượng sản phẩm.
							p Trong suốt 62 năm xây dựng, phát triển, với gần 30.000 ha rừng và rừng nguyên liệu trải dài trên địa bàn các tỉnh Đắk Lắk, Đắk Nông, Kon Tum, Lâm Đồng, Đồng Nai, Quảng Ngãi, Bình Thuận… Tân Mai có đóng góp không nhỏ trong phát triển kinh tế – xã hội tại các địa phương, nhất là việc tạo sinh kế bền vững cho đồng bào dân tộc thiểu số ở Tây Nguyên.
							p Trong quá trình hoạt động, Tập đoàn Tân Mai luôn bám sát và thực hiện tốt chỉ đạo của Đảng, Nhà nước, đặc biệt trong công tác quản lý, bảo vệ và phát triển rừng. Ghi nhận những đóng góp đó, Đảng, Nhà nước đã trao tặng Tân Mai Huân chương Lao động hạng Nhất, Nhì, Ba cùng nhiều hình thức khen thưởng danh giá khác.
				.col-lg-7.col-md-6
					.img
						img.lazyload(data-src="./img/about/a-1.png" alt="")
