section.section.product-detail 
	.tab-panels
		#toggle-tool
			em.ri-list-settings-line
		ul.tabs
			li.fw-500.active(rel='panel-1')
				img(src="./img/icon/baove.png", alt="")
				|Bảo vệ
			li.fw-500(rel='panel-2')
				img(src="./img/icon/tietkiem.png", alt="")
				| Tiết Kiệm
			li.fw-500(rel='panel-3')
				img(src="./img/icon/dautu.png", alt="")
				|Đầu tư
			li.fw-500(rel='panel-4')
				img(src="./img/icon/giaoduc.png", alt="")
				|Giáo dục
			li.fw-500(rel='panel-5')
				img(src="./img/icon/botro.png", alt="")
				|Bổ trợ
		.tab-content
			#panel-1.panel.active
				.container 
					.row 
						.col-lg-6.col-md-6
							.img 
								a(href="") 
									img.lazyload(data-src="./img/home/h-2.png", alt="")
						.col-lg-6.col-md-6
							.content 
								ul.socail.d-flex.align-center.ml-auto
									li
										a(href="")
											em.fab.fa-facebook-f
									li
										a(href="")
											img(src="./img/icon/zalo.png", alt="")
								.desc-content
									p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
								.faq-list#faq-list
									.faq-item 
										.title.d-flex.align-center.f-20
											p Sản phẩm đầu tư là gì
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Tại sao bạn lại cần sản phẩm đầu tư
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Số tiền bảo hiểm đề nghị tối thiểu
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item
										.title.d-flex.align-center.f-20
											p Sản phẩm này dành cho ai?
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
								a.readmore(href="san-pham.html") Tìm hiểu thêm
			#panel-2.panel
				.container 
					.row 
						.col-lg-6.col-md-6
							.img 
								a(href="") 
									img.lazyload(data-src="./img/home/h-2.png", alt="")
						.col-lg-6.col-md-6
							.content 
								.desc-content
									p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
								.faq-list#faq-list
									.faq-item 
										.title.d-flex.align-center.f-20
											p Sản phẩm đầu tư là gì
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Tại sao bạn lại cần sản phẩm đầu tư
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Số tiền bảo hiểm đề nghị tối thiểu
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item
										.title.d-flex.align-center.f-20
											p Sản phẩm này dành cho ai?
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
								a.readmore(href="san-pham.html") Tìm hiểu thêm
			#panel-3.panel
				.container 
					.row 
						.col-lg-6.col-md-6
							.img 
								a(href="") 
									img.lazyload(data-src="./img/home/h-2.png", alt="")
						.col-lg-6.col-md-6
							.content 
								.desc-content
									p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
								.faq-list#faq-list
									.faq-item 
										.title.d-flex.align-center.f-20
											p Sản phẩm đầu tư là gì
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Tại sao bạn lại cần sản phẩm đầu tư
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Số tiền bảo hiểm đề nghị tối thiểu
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item
										.title.d-flex.align-center.f-20
											p Sản phẩm này dành cho ai?
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
								a.readmore(href="san-pham.html") Tìm hiểu thêm
			#panel-4.panel
				.container 
					.row 
						.col-lg-6.col-md-6
							.img 
								a(href="") 
									img.lazyload(data-src="./img/home/h-2.png", alt="")
						.col-lg-6.col-md-6
							.content 
								.desc-content
									p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
								.faq-list#faq-list
									.faq-item 
										.title.d-flex.align-center.f-20
											p Sản phẩm đầu tư là gì
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Tại sao bạn lại cần sản phẩm đầu tư
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Số tiền bảo hiểm đề nghị tối thiểu
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item
										.title.d-flex.align-center.f-20
											p Sản phẩm này dành cho ai?
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
								a.readmore(href="san-pham.html") Tìm hiểu thêm
			#panel-5.panel
				.container 
					.row 
						.col-lg-6.col-md-6
							.img 
								a(href="") 
									img.lazyload(data-src="./img/home/h-2.png", alt="")
						.col-lg-6.col-md-6
							.content 
								.desc-content
									p An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
								.faq-list#faq-list
									.faq-item 
										.title.d-flex.align-center.f-20
											p Sản phẩm đầu tư là gì
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Tại sao bạn lại cần sản phẩm đầu tư
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item 
										.title.d-flex.align-center.f-20
											p Số tiền bảo hiểm đề nghị tối thiểu
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
									.faq-item
										.title.d-flex.align-center.f-20
											p Sản phẩm này dành cho ai?
											em.material-icons chevron_right
										.desc 
											p Người tham gia được bảo vệ với mệnh giá cao nhất, đồng thời được linh hoạt đầu tư theo tình hình tài chính cá nhân và mong muốn xây dựng tài sản trong tương lai
								a.readmore(href="san-pham.html") Tìm hiểu thêm



