section.section.product-list 
	.container 
		.wrapper-product-list.d-flex
			.item-product 
				.img 
					img.lazyload(data-src="./img/san-pham/i-1.png", alt="")
				.content 
					.icon 
						img(src="./img/icon/baove-1.png", alt="")
					.title.f-18.fw-500.color-white Bảo vệ
					.desc.lcl.lcl-3 An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
					a.btn.btn-readmore.color-white(href="san-pham-chi-tiet.html") Xem thêm
			.item-product 
				.img 
					img.lazyload(data-src="./img/san-pham/i-2.png", alt="")
				.content 
					.icon 
						img(src="./img/icon/tietkiem-1.png", alt="")
					.title.f-18.fw-500.color-white Tiết kiệm
					.desc.lcl.lcl-3 An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
					a.btn.btn-readmore.color-white(href="san-pham-chi-tiet.html") Xem thêm
			.item-product 
				.img 
					img.lazyload(data-src="./img/san-pham/i-3.png", alt="")
				.content 
					.icon 
						img(src="./img/icon/giaoduc-1.png", alt="")
					.title.f-18.fw-500.color-white Giáo dục
					.desc.lcl.lcl-3 An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
					a.btn.btn-readmore.color-white(href="san-pham-chi-tiet.html") Xem thêm
			.item-product 
				.img 
					img.lazyload(data-src="./img/san-pham/i-4.png", alt="")
				.content 
					.icon 
						img(src="./img/icon/botro-1.png", alt="")
					.title.f-18.fw-500.color-white Bổ trợ
					.desc.lcl.lcl-3 An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
					a.btn.btn-readmore.color-white(href="san-pham-chi-tiet.html") Xem thêm
			.item-product 
				.img 
					img.lazyload(data-src="./img/san-pham/i-5.png", alt="")
				.content 
					.icon 
						img(src="./img/icon/dautu-1.png", alt="")
					.title.f-18.fw-500.color-white Đầu tư
					.desc.lcl.lcl-3 An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
					a.btn.btn-readmore.color-white(href="san-pham-chi-tiet.html") Xem thêm



