section.section.planning-catelog 
	.container
		.wrapper-catelog 
			ul.nav.d-flex.align-center 
				li.nav-item 
					a.nav-link(href="") Độc thân
				li.nav-item.active
					a.nav-link(href="") Gia đình có con trẻ
				li.nav-item 
					a.nav-link(href="") Chuẩn bị nghỉ hưu
		.wrapper-title.d-flex.align-center
			.icon 
				img(src="./img/icon/family.png", alt="")
			.section-title Gia đình có con trẻ
			ul.socail.d-flex.align-center.ml-auto
				li
					a(href="")
						em.fab.fa-facebook-f
				li
					a(href="")
						img(src="./img/icon/zalo.png", alt="")
		.wrapper-list
			ul
				li.active
					a(href='#planning-1') Rủi ro
				li
					a(href='#planning-2') Lý do cần bảo hiểm nhân thọ
				li
					a(href='#planning-3') Bảng tính phí bảo hiểm
section.section.planning-family#planning-1 
	.container 
		.planning-title rủi ro
		.row 
			.col-lg-4 
				.item 
					.item-img 
						img(src="./img/icon/heart.png", alt="")
					.item-content 
						.title.f-24 Đột quỵ
						.desc Theo thống kê, mỗi năm nước ta có hơn 
							span 200.000  
							| trường hợp đột quỵ 
			.col-lg-4 
				.item 
					.item-img 
						img(src="./img/icon/kidney.png", alt="")
					.item-content 
						.title.f-24 Suy thận
						.desc Tại Việt Nam, ước tính có khoảng 5 triệu người bị suy thận và hàng năm có khoảng 
							span 8.000  
							| ca bệnh mới
			.col-lg-4 
				.item 
					.item-img 
						img(src="./img/icon/car.png", alt="")
					.item-content 
						.title.f-24 Tai nạn giao thông
						.desc Theo thống kê TNGT trong độ tuổi  
							span 17-55  
							| chiếm 
							span 48% 
							| số  vụ
section.section.planning-reson#planning-2 
	.container 
		.planning-title lí do chọn bảo hiểm nhân thọ
		.reson-item
			.row
				.col-lg-7 
					.img 
						img.lazyload(data-src="./img/lap-ke-hoach/detail-1.png", alt="")
				.col-lg-5
					.content 
						.title.f-24 Đảm bảo tương lai cho con cái
						.desc "Cha mẹ sẽ cho con một tương lai tốt đẹp nhất". Cùng với bảo hiểm nhân thọ bạn và gia đình sẽ được bảo vệ trước những rủi ro có thể gặp phải trong cuộc sống; cũng như đảm bảo tài chính cho con đường học tập của con cái, chắp cánh ước mơ của thế hệ trẻ.
		.reson-item
			.row
				.col-lg-7 
						.img 
							img.lazyload(data-src="./img/lap-ke-hoach/detail-2.png", alt="")
				.col-lg-5
					.content 
						.title.f-24 Đảm bảo ước mơ sẽ thành hiện thực
						.desc Cuộc sống với quá nhiều biến động và những mong muốn, kế hoạch quan trọng cho bản thân, gia đình có thể bị dang dở nếu không may rủi ro xảy ra. Bảo hiểm nhân thọ sẽ là nguốn tài chính đảm bảo giúp biến những ước mơ còn dang dở của mình thành hiện thực cho dù không may có rủi ro xảy ra
section.section.planning-risk#planning-3
	.container 
		.planning-title Bảng tính phí bảo hiểm
		.wrapper-select 
			.select 
				label(for="") Tuổi
				select 
					option(value="25") 25 
			.select 
				label(for="") Giới tính
				select 
					option(value="Nam") Nam
		.row 
			.col-lg-4 
				.col-item 
					.title.f-24 Kế hoạch Cơ bản
					ul 
						li 
							span Phí năm
							p 12.000.000đ
						li 
							span Phí tháng
							p 1.056.000đ
					.faq-list#faq-list
						.faq-item 
							.title.d-flex.align-center
								p Quyền lợi tử vong/ TTTBW
								.range.d-flex.align-center
									p
										span 3
											| /5
									em.material-icons grade
							.desc 
								ul 
									li 
										p Viện phí/ ngày
										p 200.000 ~ 300.000đ
									li
										p Chăm sóc tại nhà/ ngày
										p 200.000 ~ 300.000đ
									li
										p Phòng chăm sóc đặc biệt
										p 200.000đ
									li
										p Phẫu thuật nội trú
										p 1.000.000đ
		a.btn.btn-defaul.btn-yellow(href='')
			| Đăng ký tư vấn
		.note-box
			.title.d-flex.align-center
				em.material-icons border_color
				p Đọc thêm lưu ý
				em.material-icons chevron_right
			.desc 
				p - Phí bảo hiểm chỉ mang tính chất tham khảo. Phí bảo hiểm thực tế còn tùy thuộc vào Phí bảo hiểm được chấp nhận bởi Bộ Tài chính tại thời điểm tham gia bảo hiểm.

				p -Các Quyền lợi bảo hiểm được minh họa với Thời hạn đóng phí 20 năm và Phí bảo hiểm được thanh toán đầy đủ trong 20 năm. Để biết thêm chi tiết vui lòng liên hệ đường dây nóng 028.62556393 để được hỗ trợ.

