section.section.story-detail 
	.container 
		.wrapper-title.d-flex.align-center 
			.wrapper-left.d-flex.align-center.mr-auto
				.created-date 
					.date 05
					.month 12.2020
				h1.title.f-30.fw-700.color-main Bảo hiểm nhân thọ, giúp bạn tiết kiệm tiền có kỷ luật
			.wrapper-right
				ul.social.d-flex
						li
							a(href="")
								em.fab.fa-facebook-f
						li
							a(href="")
								img(src="./img/icon/zalo.png", alt="")
		.wrapper-container 
			.full-content
				p 
					strong Bảo hiểm nhân thọ không chỉ mang đến lợi ích cho từng cá nhân tham gia bảo hiểm, mà còn có những ý nghĩa nhất định đối với sự phát triển kinh tế  xã hội của mỗi quốc gia.

				p Theo đó, bảo hiểm nhân thọ là một hình thức huy động nguồn vốn nhàn rỗi trong nhân dân, đồng thời cũng là một hình thức đầu tư dài hạn cho sự phát triển kinh tế - xã hội của đất nước, nhằm giảm bớt tình trạng vay vốn nước ngoài với lãi suất cao.
				img(src="./img/cau-chuyen/detail-1.png", alt="")
				p Bảo hiểm nhân thọ không chỉ mang đến lợi ích cho từng cá nhân tham gia bảo hiểm, mà còn có những ý nghĩa nhất định đối với sự phát triển kinh tế  xã hội của mỗi quốc gia.

				p Theo đó, bảo hiểm nhân thọ là một hình thức huy động nguồn vốn nhàn rỗi trong nhân dân, đồng thời cũng là một hình thức đầu tư dài hạn cho sự phát triển kinh tế - xã hội của đất nước, nhằm giảm bớt tình trạng vay vốn nước ngoài với lãi suất cao. Bảo hiểm nhân thọ không chỉ mang đến lợi ích cho từng cá nhân tham gia bảo hiểm, mà còn có những ý nghĩa nhất định đối với sự phát triển kinh tế  xã hội của mỗi quốc gia.

				p Theo đó, bảo hiểm nhân thọ là một hình thức huy động nguồn vốn nhàn rỗi trong nhân dân, đồng thời cũng là một hình thức đầu tư dài hạn cho sự phát triển kinh tế - xã hội của đất nước, nhằm giảm bớt tình trạng vay vốn nước ngoài với lãi suất cao.
				img(src="./img/cau-chuyen/detail-2.png", alt="")
section.section.story-other 
	.container 
		.section-title.text-center Câu chuyện bảo hiểm liên quan
		.slide-knowledge
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<5; i++)
						.swiper-slide
							.swiper-inner.zoom-img
								.img
									a(href="")
										img.lazyload(data-src="./img/home/h-5."+i+".png", alt="")
								.content 
									time 05.12.2020
									.title 
										a.lcl.lcl-2(href="") Điền tờ khai thông tin một cách chính xác và trung thực 
								.view-more
									a(href="") Xem thêm
			.swiper-button-next
			.swiper-button-prev
			.swiper-pagination
