#popup_1
	.popup(setBackground='./img/home/popup.png')
		.content
			.desc.f-30.fw-600.text-uppercase.text-center
				p thông báo
				p đại hội đồng cổ đông 
				p năm 2020
			a.view-detail.f-14.color-white.fw-500.text-uppercase(href="") xem thêm chi tiết
