.home-news
	.item-news
		padding: 15px
		margin-bottom: 20px
		background-color: $white
		.img
			a
				+img-ratio(180/270)
		.content
			padding-right: 25px
			padding-top: 20px
	.btn-view-more
		margin-top: 15px
		margin-left: 15px
	@media screen and ( max-width: 575.98px )
		.btn-view-more
			margin-top: 0
