section.section.home-socail-connect 
	.container 
		.section-title.text-center Kết nối với Cathay Life
		.wrapper-content 
			.row 
				.col-lg-3.col-md-3.col-sm-6 
					.col-item.zoom-img 
						.img 
							a(href="") 
								img.lazyload(data-src="./img/home/h-8.1.png", alt="")
						.content 
							a(href="") 
								em.material-icons security_update
								| App
				.col-lg-3.col-md-3.col-sm-6 
					.col-item.zoom-img 
						.img 
							a(href="") 
								img.lazyload(data-src="./img/home/h-8.2.png", alt="")
						.content 
							a(href="") 
								em.material-icons public
								| Website
				.col-lg-3.col-md-3.col-sm-6 
					.col-item.zoom-img 
						.img 
							a(href="") 
								img.lazyload(data-src="./img/home/h-8.3.png", alt="")
						.content 
							a(href="") 
								em.ri-facebook-fill
								| Facebook
				.col-lg-3.col-md-3.col-sm-6 
					.col-item.zoom-img 
						.img 
							a(href="") 
								img.lazyload(data-src="./img/home/h-8.4.png", alt="")
						.content 
							a(href="") 
								em.ri-youtube-line
								| Youtube
