section.section.detail-page 
	.container 
		.row 
			.col-lg-9
				.section-title.color-main Nhân viên kế toán kho
				.bottom-wrapper.d-flex.align-center.justify-between
					time 22.10.2020
					ul.social.d-flex
						li
							a(href="")
								em.fab.fa-facebook
								span Share
						li
							a(href="")
								em.fab.fa-twitter
								span Tweet
				.full-content
					p
						strong MÔ TẢ CÔNG VIỆC
					ul 
						li 
							p Quản lý và nhập các số liệu mua và bán ra trong ngày
						li 
							p Nắm được đặc điểm hàng hóa trong kho, thường xuyên cùng thủ kho đối chiếu số liệu hằng ngày.
						li 
							p Cung cấp kịp thời theo yêu cầu của lãnh đạo
						li 
							p Trực tiếp kiểm kê hàng hoá trong kho theo định kỳ
						li 
							p Viết hóa đơn VAT và khai báo thuế theo đúng quy định

					p
						strong Yêu cầu chung
					ul
						li 
							p Yêu cầu giới tính: Tất cả
						li 
							p Yêu cầu độ tuổi: 22 tuổi trở lên
						li 
							p Thời gian thử việc: 1 tháng
						li 
							p Cấp bậc tối thiểu: Nhân viên
						li 
							p Kinh nghiệm: 1 năm
						li 
							p Kỹ năng tin học: Phần mềm kế toán
						li 
							p Kỹ năng mềm: Giao tiếp

					p
						strong Quyền lợi nhân viên
					ul
						li
							p Mức lương:Thỏa thuận
						li
							p Hỗ trợ ăn trưa tại công ty.
						li
							p Hỗ trợ công tác phí khi đi công tác.
						li
							p Thưởng Lễ, Tết, lương tháng 13 đầy đủ.
						li
							p Được tham gia BHXH, Công đoàn theo Quy chế của Công ty.
						li
							p Làm việc tại Biên Hòa, Đồng Nai
				.wrapper-btn.d-flex.align-center
					.apply.text-uppercase
						a(href="") Ứng Tuyển
					span Hoặc
					.view.text-uppercase 
						em.material-icons download
						a(href="") Tải mẫu đơn xin việc
			.col-lg-3 
				.recuirement-desc
					table
						tbody
							tr
								td
									strong Ngành nghề:
									br
									|Kế toán/ kiểm toán
							tr
								td
									strong Nơi làm việc
									br
									|Biên Hoà, Đồng Nai
							tr
								td
									strong Loại hình công việc
									br
									|Toàn thời gian cố định
							tr
								td
									strong
									|Hạn nộp hồ sơ: 
									span 30.01.2021
				.recuirement-other
					.recuirement-header
						.title.f-24.fw-600.color-main Vị trí khác
					.recuirement-body
						-for(i=1; i<6; i++)
							.item 
								time 29.19.2021
								.title
									a(href="") Nhân viên kinh doanh
