section.section.contact-page 
	.container 
		.section-title.color-main liên hệ
		.wrapper-contact
			.row 
				.col-lg-7 
					.form-contact 
						.title.f-24.fw-700.text-uppercase vui lòng để lại thông tin
						.wrap-form
							.form-row
								.form-group
										input(type="text" placeholder="Họ và tên")
								.form-group
										input(type="text" placeholder="Email")
							.form-row
								.form-group
										input(type="text" placeholder="Số điện thoại")
								.form-group
										input(type="text" placeholder="Địa chỉ")
							.form-row
								.form-group
									select(name="") 
										option(value="Bộ phận liên lạc" selected) Bộ phận liên lạc
								.form-group
									input(type="text" placeholder="Tiêu đề")
							.form-group
								textarea(name="" cols="30" rows="10" placeholder="Nội dung")
							.form-group.frm-btnwrap
								.frm-btn
									input(type="submit" value="Gửi câu hỏi")
				.col-lg-5
					.contact-infor
						.title.f-24.fw-700.text-uppercase Công ty cổ phần tập đoàn tân mai
						ul 
							li 
								em.ri-hotel-line
								p 
									strong Địa chỉ 
									| Đường số 11, Khu Công Nghiệp Biên Hòa, Phường An Bình, TP Biên Hòa, Tỉnh Đồng Nai, Việt Nam
							li 
								em.ri-phone-line
								p 
									strong Điện thoại 
									| 061.3836201
							li 
								em.ri-printer-line
								p 
									strong Fax 
									| 061.3836231
							li 
								em.ri-mail-send-line
								p 
									strong Email 
									| contact@tanmaigroup.com
		.wrapper-map 
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.5343800270069!2d106.85917665194698!3d10.920547113595859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174defa20c6a2bf%3A0x61e7deeaaaa96e6e!2zWMOtIE5naGnhu4dwIENo4bq_IEJp4bq_biBMw6JtIFPhuqNuIFTDom4gTWFpIC0gQ8O0bmcgVHkgQ-G7lSBQaOG6p24gVOG6rXAgxJBvw6BuIFTDom4gTWFp!5e0!3m2!1sen!2s!4v1613634102617!5m2!1sen!2s' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')


