.home-knowledge
	.col-item
		position: relative
		.img
			a
				+img-ratio(226/390)
		.content
			position: absolute
			bottom: 0
			left: 0
			padding: 26px
			padding-top: 21px
			padding-bottom: 6px
			background: rgba($color: $black, $alpha: .35)
	.btn-readmore
		margin-top: 30px
