section.section.home-knowledge
	.container 
		.section-title.text-center Kiến thức bảo hiểm
		.row 
			-for(i=1; i<4; i++)
				.col-lg-4 
					.col-item 
						.img 
							a(href="")
								img.lazyload(data-src="./img/home/h-4."+i+".png", alt="")
						.content 
							.title.color-white.f-20 
								a(href="") Rủi ro và những khái niệm liên quan trong Bảo hiểm
							a.view-more(href="") Xem thêm
			a.btn.btn-readmore.mx-auto(href="")  Xem tất cả
