section#about-5.section.organizational-chart(setBackground='./img/bg/about-3.png')
	.container
		.section-title.color-main sơ đồ tổ chức
		.image-wrapper
			a(href="javascript: ;" data-fancybox="chart" data-src="./img/about/a-6.png")
				img.lazyload(data-src="./img/about/a-6.png" alt="")
