section.section.home-planning
	.container 
		.section-title.text-center Lê kế hoạch cuộc sống
		.wrapper-content
			.row 
				-for(i=1; i<4; i++)
					.col-lg-4.col-md-6
						.col-item.zoom-img 
							.img 
								a(href="")
									img.lazyload(data-src="./img/home/h-3."+i+".png", alt="")
							.content 
								.title.f-30 
									a(href="") Độc thân
								.desc.lcl.lcl-4 
									| Nhiều thời hạn hợp đồng thích hợp với nhiều kế hoạch tiết kiệm Quyền lợi đáo hạn hấp dẫn với lãi suất cao giúp khách hàng có một kế hoạch tiết kiệm hiệu quả.
								a.btn.btn-readmore(href="") Xem thêm
