section#about-2.section.history
	.container
		.section-title.color-main lịch sử hình thành
	.block-slide
		.swiper-container.gallery-top
			.swiper-wrapper
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 1990
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 1991
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 1995
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 1997
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 2005
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 2006
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 2008
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
				.swiper-slide
					.swiper-inner
						.img
							img.lazyload(data-src="./img/bg/about-1.jpg" alt="")
						.content
							.title.text-center.color-main.fw-700 2019
							.desc.text-center.f-16 Tập đoàn Tân Mai chuyển sang Tập đoàn đầu tư đa ngành, tập trung phát triển ngành công nghiệp giấy & bột giấy, ngành lâm nghiệp, gỗ, nông nghiệp công nghệ cao & dược liệu, nghành bất động sản và du lịch nghỉ dưỡng
			.swiper-button-next
			.swiper-button-prev
		.container
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 1990
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 1991
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 1995
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 1997
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 2005
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 2006
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 2008
					.swiper-slide
						.swiper-inner
							.title.f-20.fw-700.color-gray.text-center 2019
