footer
	padding: 50px 0
	padding-bottom: 0
	background-color: $main-2

	.footer-card
		.title
			padding-bottom: 10px
		.wrapper-content
			ul
				li
					padding-right: 75px
					padding-bottom: 5px
					p,
					a
						color: $white
						font-size: 13/16*1rem
						line-height: 20px
						span
							color: $green-2
							font-size: 15/16*1rem
					&:last-child
						padding-bottom: 0
			.scail-list
				display: flex
				padding-right: 1rem
				position: relative
				li
					padding: 0
					width: 31px
					height: 31px
					border-radius: 50%
					border: solid 1px $white
					display: flex
					align-items: center
					justify-content: center
					a
						color: $white
						font-size: 1rem
					+ li
						margin-left: 10px
		.download-app
			margin-top: 36px
			ul
				display: flex
				align-items: center
				li
					position: relative
					+ li
						margin-left: 10px
	.coppy-right
		background: #00994e
		margin-top: 52px
		padding: 15px 0
		.wrapper-coppy
			ul
				display: flex
				align-items: center
				li
					a
						font-size: 13/16*1rem
						color: $white
						opacity: .75
						text-decoration: underline
					+ li
						margin-left: 18px
			.design-by-canhcam
				padding-left: 1rem
	@media screen and ( max-width: 991.98px )
		padding: 25px 0
		padding-bottom: 0
		.footer-card
			margin-bottom: 30px
			.title
				font-size: 18/16*1rem
				padding-bottom: 7px
		.coppy-right
			margin-top: 0
	@media screen and ( max-width: 767.98px )
		.coppy-right
			.wrapper-coppy
				flex-direction: column
				.scail-list
					&::after
						display: none
				.design-by-canhcam
					padding: 7px 0
					text-align: center

	@media screen and ( max-width: 575.98px )
		.col-lg-3
			&:first-child
				.footer-card
					.title
						padding-right: 0
