footer
	.container
		.row
			.col-lg-3.col-md-6.col-sm-6
				.footer-card
					.title.f-20.fw-700.color-white.text-uppercase công ty cổ phần tập đoàn tân mai
					.wrapper-content
						ul
							li
								em.material-icons place
								p Đường số 11, Khu Công Nghiệp Biên Hòa I, Phường An Bình, TP Biên Hòa, Tỉnh Đồng Nai, Việt Nam
							li
								em.material-icons call
								p 061.3836201
							li
								em.material-icons print
								p 061.3836231
							li
								em.material-icons mail
								p contact@tanmaigroup.com
			.col-lg-3.col-md-6.col-sm-6.col-6
				.footer-card
					.title.f-20.fw-700.color-white.text-uppercase giới thiệu
					.wrapper-content
						ul
							li
								a(href="") Về Tân Mai
							li
								a(href="") Lịch sử Tân Mai
							li
								a(href="") tầm nhìn - Sứ mệnh
							li
								a(href="") Giá trị cốt lõi
							li
								a(href="") Sơ đồ tổ chức
							li
								a(href="") Năng lực sản xuất
							li
								a(href="") Đơn vị thành viên
							li
								a(href="") Các giải thưởng & Thành tích
			.col-lg-3.col-md-6.col-sm-6.col-6
				.footer-card
					.title.f-20.fw-700.color-white.text-uppercase liên kết nhanh
					.wrapper-content
						ul
							li
								a(href="") NgườI Tân Mai
							li
								a(href="") Lĩnh vực hoạt động
							li
								a(href="") Dự án
							li
								a(href="") Phát triển bềnh vững
							li
								a(href="") Quan hệ cổ đông
							li
								a(href="") Tin tức
			.col-lg-3.col-md-6.col-sm-6
				.footer-card
					.title.f-20.fw-700.color-white.text-uppercase đăng ký nhận bản tin
					.subscribe
						.subscribefrm
							input.subscribeemail(type="text" placeholder="Nhận email..." name="email")
							button.subscribebutton GỬI

		.coppy-right.d-flex.align-center
			ul.scail-list
				li
					a(href="")
						em.fab.fa-facebook-square
				li
					a(href="")
						em.fab.fa-instagram
				li
					a(href="")
						em.fab.fa-youtube
			p.design-by-canhcam.color-white.f-12
				|Copyright © 2020 Tan Mai Group. All Rights Reserved. 
				a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep' target='_blank') Thiết kế website
				| bởi
				a(href='https://www.canhcam.vn' target='_blank')  Canh Cam
			.back-to-top.text-uppercase.d-flex.align-center.color-white.f-12.ml-auto Đầu trang
				em.material-icons expand_less


