footer
	.container
		.row
			.col-lg-3.col-md-6.col-sm-6
				.footer-card
					.img 
						img.lazyload(data-src="./img/logo-footer.png", alt="")
					.title.f-16.fw-500.color-white.text-uppercase Cathay Life Việt Nam
					.wrapper-content
						ul
							li
								p 
									span Trụ sở chính
								p Tòa nhà The World Center, 46-48-50 Phạm Hồng Thái, Quận 1, TP. HCM
							li
								p 
									span Điện thoại:  
									|028 - 6255 6699

							li
								p 
									span Fax:  
									|028 - 6255 6399
			.col-lg-3.col-md-6.col-sm-6.col-6
				.footer-card
					.title.f-18.fw-500.color-white Lên kế hoạch cuộc sống
					.wrapper-content
						ul
							li
								a(href="") Độc thân
							li
								a(href="") Gia đình có trẻ nhỏ
							li
								a(href="") Sắp nghỉ hưu
			.col-lg-3.col-md-6.col-sm-6.col-6
				.footer-card
					.title.f-18.fw-500.color-white Liên kết nhanh
					.wrapper-content
						ul
							li
								a(href="") Sản phẩm
							li
								a(href="") Bảo vệ hạnh phúc
							li
								a(href="") Sự kiện
							li
								a(href="") Đặt lịch tư vấn
							li
								a(href="") Bảo hiểm trực tuyến
			.col-lg-3.col-md-6.col-sm-6
				.footer-card
					.title.f-18.fw-500.color-white Mạng xã hội
					.wrapper-content
						ul.scail-list
							li
								a(href="")
									em.fab.fa-facebook-f
							li
								a(href="")
									em.fab.fa-youtube
							li
								a(href="")
									img(src="./img/icon/zalo-white.png", alt="")
					.download-app
						.title.f-18.fw-500.color-white Tải ứng dụng
						ul 
							li 
								a(href="") 
									img(src="./img/home/appstore.png", alt="")
							li
								a(href="")
									img(src="./img/home/chplay.png", alt="") 
	.coppy-right
		.container
			.wrapper-coppy.d-flex.align-center.justify-between
				ul
					li
						a(href="") Điều khoản & điều kiện
					li
						a(href="") Chính sách bảo mật
					li
						a(href="") Sitemap
					
				p.design-by-canhcam.color-white.f-12
					|© 2021 Cathay Life Vietnam . All rights reserved. 
					a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep' target='_blank') Designed 
					| by
					a(href='https://www.canhcam.vn' target='_blank')  Canh Cam


