section.section.home-advisory
	.container 
		.section-title.text-center Đăng ký tư vấn 
		.wrapper-content 
			.row 
				.col-lg-6 
					.img 
						img.lazyload(data-src="./img/home/h-7.png" alt="")
				.col-lg-6 
					.content 
						.title.f-30 Bảo vệ sức khoẻ tài chính
						.desc.f-18 Chúng tôi là đội ngũ các chuyên viên tư vấn bảo hiểm được cấp phép đưa ra các đánh giá, phân tích & các công cụ so sánh giúp bạn có được kế hoạch bảo hiểm phù hợp nhất. Cam kết sẽ cung cấp các thông tin đa chiều về bảo hiểm nhân thọ giúp khách hàng tham gia các giải pháp phù hợp nhất.
						a.btn.btn-readmore(href="") Tìm hiểu thêm
		.wrapper-form 
			.row 
				.col-lg-4 
					.col-form 
						.form-group 
							label họ và tên
								span *
							input(type="text" name="" placeholder="Vui lòng điền")
						.form-group 
							label giới tính
								span *
							input(type="checkbox" name="" checked)
						.form-group 
							label ngày, tháng, năm sinh
								span *
							input(placeholder="Vui lòng chọn" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date")
						.form-group 
							label mã giới thiệu
								span *
							input(type="text" name="" placeholder="Vui lòng điền mã giới thiệu nếu có")
				.col-lg-4 
					.col-form 
						.form-group 
							label khu vực sinh sống
								span *
							input(type="text" name="" placeholder="Vui lòng điền")
							select(name="") 
								option(value="Tỉnh/thành") Tỉnh/thành
							select(name="") 
								option(value="Quận/Huyện") Quận/Huyện
						.form-group 
							label số điện thoại
								span *
							input(type="checkbox" name="" checked)
						.form-group 
							label email
								span *
							input(type="text" name="" placeholder="Vui lòng điền")
						.form-group 
							label mã giới thiệu
								span *
							input(type="text" name="" placeholder="Vui lòng điền mã giới thiệu nếu có")