section#about-8.section.prize
	.container
		.section-title.color-main các giải thưởng và thành tích
		.wrapper-content
			.row
				.col-lg-6
					.content
						ul
							li
								p Giải thưởng "Cúp vàng Chất lượng Sản phẩm giấy ram hội nhập WTO" năm 2007
							li
								p Giải thưởng "Cúp vàng thương hiệu Việt" năm 2006 - 2007
							li
								p Giải thưởng "Sao vàng Đất Việt" năm 2003 - 2004 - 2006 - 2008
							li
								p Giải thưởng "Hàng Việt Nam chất lượng cao" do người tiêu dùng bình chọn năm 1997 đến nay.
							li
								p Giải thưởng "Chất lượng Việt Nam" năm 2007
							li
								p Giải thưởng "Thương hiệu mạnh" năm 2004 - 2006
							li
								p Giải thưởng "Doanh nghiệp uy tín - chất lượng" năm 2005 - 2006 - 2007 - 2008
				.col-lg-6
					.img
						img.lazyload(data-src="./img/about/a-5.png" alt="")
