section#about-7.section.member(setBackground='./img/bg/about-4.png')
	.container
		.row
			.col-lg-6
				.section-title.color-main đơn vị thành viên
				.content
					ul
						li
							p 
								strong 01
								| Nhà máy giấy Tân Mai
						li
							p 
								strong 02
								| Nhà máy giấy Bình An
						li
							p 
								strong 03
								| Nhà máy giấy Đồng Nai
						li
							p 
								strong 04
								| Xí nghiệp nguyên liệu giấy Đông Nam Bộ
						li
							p 
								strong 05
								| Xí nghiệp nguyên liệu giấy Lâm Đồng
						li
							p 
								strong 06
								| Xí nghiệp nguyên liệu giấy Đaklak
						li
							p 
								strong 07
								| Chi nhành tại Hà Nội
			.col-lg-6
				.img
					img.lazyload(data-src="./img/about/a-4.png" alt="")
