<!-- HEADER -->
header
	.navbar-top.d-flex.align-center
		.container.d-flex.align-center
			ul.list-top.ml-auto.d-flex.align-center
				li.nav-item
					a.nav-link(href="index.html")
						img(src="./img/logo-header-top.png" alt="")
				li.nav-item
					a.nav-link.f-18.color-main(href="")
						em.fab.fa-facebook-f
				li.nav-item
					a.nav-link.f-18.color-main(href="")
						em.fab.fa-youtube
				li.nav-item
					a.nav-link(href="")
						img(src="./img/icon/zalo.png" alt="")
			.search-icon
				em.material-icons search
			ul.language.d-flex.align-center
				li.active
					a.f-12(href="") VN
				li
					a.f-12(href="") EN
	.navbar-bottom
		.container.d-flex.align-center
			a.navbar-brand(href="index.html")
				img(src="./img/logo.png" alt="")
			h1.header-title.f-16.fw-700.text-uppercase hạnh phúc mỗi ngày 
			.icon-mobile 
				em.material-icons home
			.nav-main.ml-auto
				ul.navbar-nav.d-flex.align-center
					li.nav-item
						a.nav-link.f-16(href='lap-ke-hoach.html') Lập kế hoạch sống
					li.nav-item.dropdown
						.title-sub
							a.nav-link.f-16(href='bao-ve-hanh-phuc.html') Bảo vệ hạnh phúc
							.btn-sub 
								em.lnr.lnr-chevron-down 
						.dopdown-menu 
							ul 
								li 
									a(href="") Câu chuyện bảo hiểm 
								li 
									a(href="") Kiến thức bảo hiểm
					li.nav-item
						a.nav-link.f-16(href='su-kien.html') Sự kiện
			a.btn.btn-defaul.btn-yellow(href="") 
				em.material-icons important_devices
				| Bảo hiểm trực tuyến
			a.btn.btn-defaul.btn-green.color-white(href="dang-ky-tu-van.html") 
				em.material-icons event
				| Đăng ký tư vấn
			.btn.btn-toggle
				span
				span
				span
				span
		//- .wrapper-search
		//- 	.form-group
		//- 		input(type="text" placeholder="Nhập từ khoá...")
		//- 		button.searchbutton.btn.btn__search
		//- 			em.material-icons search
