header
	position: fixed
	top: 0
	width: 100%
	z-index: 1000
	background: $white
	transition: all .5s
	.navbar-top
		background: #f0f0f0
		padding: 4.5px 0
		transition: all .5s
		.list-top
			.nav-item
				&:first-child
					position: relative
					padding-right: 15px
					.nav-link
						padding: 0 17px
					&::before,
					&::after
						position: absolute
						content: ''
						width: 1px
						height: 100%
						background: #e5e5e5
				+ .nav-item
					width: 30px
					height: 30px
					border-radius: 50%
					display: flex
					align-items: center
					justify-content: center
					margin-left: 5px
					background: $white
					.nav-link
						padding: 0
		.search-icon
			width: 30px
			height: 30px
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			margin-left: 5px
			background: $white
			margin-right: 20px
			cursor: pointer
			em
				font-size: 18/16*1rem
				color: $main
		.language
			li
				position: relative
				a
					color: #cccc
				&:first-child
					padding-right: 7px
				&:last-child
					padding-left: 7px
					&::before
						position: absolute
						content: '|'
						color: #cccc
						left: -3px
				&.active
					a
						text-decoration: underline
						color: $main
	.navbar-bottom
		padding-top: 12px
		padding-bottom: 13px
		.navbar-brand
			margin-right: 30px
		.header-title
			position: relative
			padding-right: 25px
			&::after
				position: absolute
				top: 50%
				right: 0
				content: ''
				width: 1px
				height: 55px
				transform: translateY(-50%)
				background: #f1f1f1
		.nav-main
			.navbar-nav
				.nav-item
					.nav-link
						padding: 1rem
					&.active
						.nav-link
							color: $main
		.btn
			margin-left: 15px
			&-yellow
				transition: all ease-in-out .5s
				&:hover
					background: $green
					color: $white
			&-green
				transition: all ease-in-out .5s
				&:hover
					background: $yellow
					color: $text
	&.header-croll-down
		height: 80px
		.navbar-top
			height: 0
			opacity: 0
			visibility: hidden
			padding: 0
	@media screen and ( max-width: 1199.98px )
		.navbar-bottom
			.nav-main
				.navbar-nav
					.nav-item
						.nav-link
							padding: 1rem .5rem
			.btn
				margin-left: 10px
				&-defaul
					padding: 8px
					font-size: 14/16*1rem
	@media screen and ( max-width: 991.98px )
		.navbar-bottom
			position: relative
			.header-title
				margin-right: auto
			.nav-main
				position: absolute
				top: 100%
				right: 0
				width: 100vw
				height: calc( 100vh - 119px )
				opacity: 0
				visibility: hidden
				transition: all 1s cubic-bezier(.22, .44, 0, 1)
				background: rgba($color: $black, $alpha: .75)
				.navbar-nav
					height: 100%
					flex-direction: column
					align-items: center
					justify-content: center
					.nav-item
						padding-bottom: 15px
						.nav-link
							font-size: 30/16*1rem
							color: $white
							padding: 1rem
				&.active
					opacity: 1
					visibility: visible
	@media screen and ( max-width: 767.98px )
		.navbar-bottom
			.navbar-brand
				margin-right: 10px
			.header-title
				font-size: 13/16*1rem
				padding-right: 10px
			.btn
				margin-left: 8px
	@media screen and ( max-width: 575.98px )
		.navbar-top
			.list-top
				margin: 0
				.nav-item
					&:first-child
						padding: 0
						&::before,
						&::after
							display: none
		.navbar-bottom
			.header-title
				display: none
			.navbar-brand
				display: none
			.nav-main
				height: calc( 100vh - 98px )
			.btn
				margin-left: auto
