section#pagebanner.none-img
	.breadcrumb-wrapper
		.breadcrumb-title Câu chuyện bảo hiểm
		ol.breadcrumb
			li
				a(href='index.html') Trang chủ
			li.active
				a(href='#') Thư viện
			li.active
				a(href='#') Hình ảnh
