section#section-banner(data-title="Trang chủ")
	.home-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slide-inner.desktop
						img(src="./img/banner/1.jpg" alt="")
						.content
							.container
								.title.fw-300 Cathay Life Việt Nam 
									br 
									|Hạnh phúc mỗi ngày
					.slide-inner.mobile
						img(src="./img/banner/1.jpg" alt="")
						.content
							.container
								.title.fw-300 Cathay Life Việt Nam 
									br 
									|Hạnh phúc mỗi ngày
				.swiper-slide
					.slide-inner.desktop
						img(src="./img/banner/2.jpg" alt="")
						.content
							.container
								.title.fw-300.color-white Cùng Gieo Mầm Hôm Nay -
									br
									| Cho Tương Lai Phồn Thịnh
					.slide-inner.mobile
						img(src="./img/banner/2.jpg" alt="")
						.content
							.container
								.title.fw-300.color-white Cùng Gieo Mầm Hôm Nay -
									br
									| Cho Tương Lai Phồn Thịnh
				.swiper-slide
					.slide-inner.desktop
						img(src="./img/banner/3.jpg" alt="")
					.slide-inner.mobile
						img(src="./img/banner/3.jpg" alt="")
			.swiper-pagination
		
