section#pagebanner
	.img
		img(src="../img/banner/p-1.png" alt="")
	.breadcrumb-wrapper
		.breadcrumb-title Lập kế hoạch sống
		ol.breadcrumb
			li
				a(href='index.html') Trang chủ
			li.active
				a(href='#') Thư viện
			li.active
				a(href='#') Hình ảnh
