section#about-6.section.capacity
	.container
		.section-title.color-main năng lực sản xuất
		.container--tabs
			.top
				ul.nav.nav-tabs
					li.active
						a(href='#tab-1') Giấy in báo
					li
						a(href='#tab-2') Giấy in, viết báo, photocopy
					li
						a(href='#tab-3') Giấy ram văn phòng
					li
						a(href='#tab-4') Các sản phẩm khác
				.statistical-box
					table
						tr
							td Bột giấy
							td 90.000 tấn/năm
						tr
							td Giấy
							td 140.000 tấn/năm
			.tab-content
				#tab-1.wrap-content.tab-pane.active
					.row
						.col-lg-6
							.img
								img.lazyload(data-src="./img/about/a-3.png" alt="")
						.col-lg-6
							.content
								.title.text-uppercase.color-text.f-24.fw-700 giấy in báo
								table
									tr
										td Ký hiệu
										td 1858 - 1867
									tr
										td Định lượng ( g/m2 )
										td 45 ; 48 ; 50 ; 52 ; 60
									tr
										td Độ trắng ( % ISO )
										td 58 ; 67
									tr
										td Độ dày ( µm, min )
										td 66 -> 83
									tr
										td Độ cobb30  ( g/m2, max )
										td 100
									tr
										td Khổ giấy thông dụng ( mm )
										td 65 ; 79 ; 82 ; 84 ; 84,5...

				#tab-2.wrap-content.tab-pane
					.row
						.col-lg-6
							.img
								img.lazyload(data-src="./img/about/a-3.png" alt="")
						.col-lg-6
							.content
								.title.text-uppercase.color-text.f-24.fw-700 giấy in báo
								table
									tr
										td Ký hiệu
										td 1858 - 1867
									tr
										td Định lượng ( g/m2 )
										td 45 ; 48 ; 50 ; 52 ; 60
									tr
										td Độ trắng ( % ISO )
										td 58 ; 67
									tr
										td Độ dày ( µm, min )
										td 66 -> 83
									tr
										td Độ cobb30  ( g/m2, max )
										td 100
									tr
										td Khổ giấy thông dụng ( mm )
										td 65 ; 79 ; 82 ; 84 ; 84,5...
				#tab-3.wrap-content.tab-pane
					.row
						.col-lg-6
							.img
								img.lazyload(data-src="./img/about/a-3.png" alt="")
						.col-lg-6
							.content
								.title.text-uppercase.color-text.f-24.fw-700 giấy in báo
								table
									tr
										td Ký hiệu
										td 1858 - 1867
									tr
										td Định lượng ( g/m2 )
										td 45 ; 48 ; 50 ; 52 ; 60
									tr
										td Độ trắng ( % ISO )
										td 58 ; 67
									tr
										td Độ dày ( µm, min )
										td 66 -> 83
									tr
										td Độ cobb30  ( g/m2, max )
										td 100
									tr
										td Khổ giấy thông dụng ( mm )
										td 65 ; 79 ; 82 ; 84 ; 84,5...
				#tab-4.wrap-content.tab-pane
					.row
						.col-lg-6
							.img
								img.lazyload(data-src="./img/about/a-3.png" alt="")
						.col-lg-6
							.content
								.title.text-uppercase.color-text.f-24.fw-700 giấy in báo
								table
									tr
										td Ký hiệu
										td 1858 - 1867
									tr
										td Định lượng ( g/m2 )
										td 45 ; 48 ; 50 ; 52 ; 60
									tr
										td Độ trắng ( % ISO )
										td 58 ; 67
									tr
										td Độ dày ( µm, min )
										td 66 -> 83
									tr
										td Độ cobb30  ( g/m2, max )
										td 100
									tr
										td Khổ giấy thông dụng ( mm )
										td 65 ; 79 ; 82 ; 84 ; 84,5...
