section.section.list-news-page
	.container
		#tool-item
		.wrapper-navbar
			ul
				li.active
					a(href="") Tin dự án
				li
					a(href="") Tin báo chí
				li
					a(href="") Tin tuyển dụng
		.section-title.color-main tin báo chí
		.row 
			-for(i=1; i<7; i++)
				.col-md-6.col-sm-6.col-lg-6 
					.col-item.zoom-img.d-flex 
						.img 
							a(href="chi-tiet-tin-tuc.html") 
								img.lazyload(data-src="./img/news-even/i-"+i+".png", alt="")
						.content 
							time.f-14 03.12.2020
							.title 
								a.lcl.lcl-4.fw-700(href="chi-tiet-tin-tuc.html") Tân Mai Group đang sở hữu và quản lý 30.846,22 ha đất rừng ở Đăk Nông, Lâm Đồng Đồng Nai Tân Mai Group đang sở hữu và quản lý 30.846,22 ha đất rừng ở Đăk Nông, Lâm Đồng Đồng Nai
